.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 28px;
  width: 24px;
  height: 24px;
  background-color: white;
  border: none;
  cursor: pointer;
}
.modal__close-button_img {
  width: 16px;
  height: 16px;
  background-position: center;
}

.modal__content {
  background-color: white;
  padding: 28px 28px 36px;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
  position: relative;
  box-sizing: border-box;
  max-width: 496px;
  width: 100%;
}

.modal__input {
  display: block;
}

.modal__radio-btns {
  border: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
