.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  font-size: 16px;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.card__img {
  width: 100%;
}
