.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-n-locate {
  margin: 0;
}

.header__right-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.header__add-clothes {
  margin: 0 0 0 auto;
  border: none;
  background: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}
